body {
    margin: 0;
    background-image: url(../img/home-bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75% 75%;
}

.topnav {
    margin-top: 20px;
    float: right;
    display: flex;
    padding: 0px 20px 0px 20px;
    align-items: center;
}

.school-logo {
    width: 310px;
    height: 90px;
}

.navbar {
    background: rgba(122, 121, 121, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Kablammo', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    margin-top: -30px;
    margin-left: 30%;
    width: 640px;
    height: 57px;
}

.navbar div a {
    text-decoration: none;
    color: whitesmoke;
}

.navbar div a:hover {
    border-bottom: 5px solid peru;
    color: peru;
    padding-bottom: 5px;
}

.logo img {
    margin-top: 30px;
    position: relative;
    left: 34%;
}

#home-content {
    font-family: 'Kablammo', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    position: absolute;
    bottom: 14%;
    left: 4%;
}

#home-content-1 {
    font-size: 36px;
}

#home-content-2 {
    font-size: 42px;
}

#home-content-3 {
    font-size: 36px;
}

.sidebar {
    font-family: 'Kablammo', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 100px;
    transition: 0.5s;
}

.sidebar div a:hover {
    color: peru;
}

.sidebar a {
    color: whitesmoke;
    text-decoration: none;
    padding: 8px 8px 40px 55px;
    font-size: 18px;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: peru;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    margin-top: -5px;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: whitesmoke;
    padding: 10px 15px;
    border: none;
    margin-left: 25px;
}

.openbtn:hover {
    color: peru;
}

.socialMenu {
    background: rgba(122, 121, 121, 0.5);
    border-radius: 30px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    width: 120px;
    max-height: 35px;
    margin-top: 15px;
}

.social-links a img {
    width: 35px;
}

.sidebar .closebtn {
    top: 1%;
}

.section {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0px 15px;
    position: relative;
    bottom: -65px;
}


/*Tablet view*/
@media screen and (max-width: 820px) {

    body {
        background-size: auto;
        background-position-x: center;
        background-position-y: 9%;
    }

    .navbar {
        gap: 25px;
        font-size: 16px;
        margin-left: 12%;
    }

    .logo img {
        width: auto;
        left: 21%;
        margin-top: 6%;
        margin-bottom: 5%;
    }

    .sidebar {
        font-size: 16px;
    }

    .sidebar a {
        font-size: 16px;
    }

    #home-content {
        bottom: 12%;
    }

    .socialMenu {
        margin-left: 40%;
    }

    .sidebar .closebtn {
        top: 1%;
    }

    .section {
        display: block;
    }

    .school-logo {
        margin-bottom: -560px;
        margin-left: 490px;
    }
}


/*Mobile view*/
@media screen and (max-width: 420px) {

    body {
        background-size: auto;
        background-position-x: center;
        background-position-y: 40%;
    }

    .navbar {
        display: none;
    }

    .topnav {
        padding: 0px;
    }

    .logo img {
        left: 1%;
        width: 400px;
        margin-bottom: 0%;
    }

    .openbtn {
        font-size: 25px;
    }

    .sidebar .closebtn {
        top: 1%;
    }

    .school-logo {
        width: 230px;
    }

    #home-content {
        bottom: 15%;
    }

    #home-content-1 {
        font-size: 30px;
    }

    #home-content-2 {
        font-size: 36px;
    }

    #home-content-3 {
        font-size: 30px;
    }

    .socialMenu {
        margin-top: 70px;
        margin-left: 30%;
    }

    .school-logo {
        width: 150px;
        margin-top: 260px;
        margin-bottom: -50px;
        margin-left: 165px;
    }
}